#/vendor/
/node_modules/
/public/build/
/public/hot/
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

.env
.env.backup
.env.production
.env.environment

*.log
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
